.inputForm {
    height: 15rem;
    background-color: #6abfea60;
    border: 1px solid #54545452;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0 rgb(50 50 50 / 47%);
    padding: 2rem;
    margin: 2rem;
}

.inputFormField {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

input {
    text-align: center;
    border: 1px solid #54545458;
    border-radius: 1rem;
    padding: 5px 20px;
}

#url {
    width: 80%;
    height: 2.5rem;
}

#inputBtn {
    background: #3189e1ec;
    color: #fff;
    letter-spacing: 2px;
    cursor: pointer;
    width: 20%;
    height: 2rem;
    transition: 0.2s all ease-in-out;

    &:hover {
        background: #094683;
        box-shadow: 0 0 1rem 0 rgb(50 50 50 / 60%);
    }
}

.nlpResult {
    opacity: 0;
    text-align: center;
}

