header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
}

.logo-img {
    display: inline;
    height: 2rem;
    width: 2rem;
}

.logo-text {
    display: inline;
}


.navigation {
    padding-inline: 1rem;
}

.nav-list {
    font-size: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}